In [1]:
import pandas as pd
airbnb_df = pd.read_csv('data/airbnb.csv')
airbnb_df

,id,state,guests,beds,property_type,rating,n_reviews,location,price
0,BF1406,Illinois,2,1,Apartment,96.0,55,"Avondale, Chicago.",48
1,DB7921,MASSACHUSETTS,4,1,Apartment,NaN,0,"South End, Boston.",115
2,OZ5857,ILLINOIS,4,3,Apartment,100.0,51,"Avondale, Chicago.",150
3,HY8797,california,2,1,Apartment,75.0,4,"SoMa, San Francisco.",125
4,VN7858,massachusetts,2,1,House,88.0,23,"West Roxbury, Boston.",64
...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.0,60,"Venice, Los Angeles.",150
709,ZR5298,california,4,2,Apartment,93.0,3,"Mid-Wilshire, Los Angeles.",100
710,XZ5531,California,2,1,Bungalow,93.0,3,"Redondo Beach, Los Angeles.",100
711,EE8333,ILLINOIS,2,1,House,80.0,15,"Lakeview, Chicago.",115
712,AA6024,Massachusetts,3,1,Apartment,96.0,61,"East Boston, Boston.",115

In [3]:
# 01. 대소문자 처리하기

In [4]:
airbnb_df['state'].unique()

array(['Illinois', 'MASSACHUSETTS', 'ILLINOIS', 'california',
       'massachusetts', 'California', 'Massachusetts', 'CALIFORNIA',
       'illinois'], dtype=object)

In [6]:
airbnb_df['state'].str.lower()

0           illinois
1      massachusetts
2           illinois
3         california
4      massachusetts
           ...
708       california
709       california
710       california
711         illinois
712    massachusetts
Name: state, Length: 713, dtype: object

In [7]:
airbnb_df['state'].str.upper()

0           ILLINOIS
1      MASSACHUSETTS
2           ILLINOIS
3         CALIFORNIA
4      MASSACHUSETTS
           ...
708       CALIFORNIA
709       CALIFORNIA
710       CALIFORNIA
711         ILLINOIS
712    MASSACHUSETTS
Name: state, Length: 713, dtype: object

In [8]:
airbnb_df['state'].str.capitalize()

0           Illinois
1      Massachusetts
2           Illinois
3         California
4      Massachusetts
           ...
708       California
709       California
710       California
711         Illinois
712    Massachusetts
Name: state, Length: 713, dtype: object

In [9]:
airbnb_df['state'] = airbnb_df['state'].str.capitalize()

In [10]:
airbnb_df

,id,state,guests,beds,property_type,rating,n_reviews,location,price
0,BF1406,Illinois,2,1,Apartment,96.0,55,"Avondale, Chicago.",48
1,DB7921,Massachusetts,4,1,Apartment,NaN,0,"South End, Boston.",115
2,OZ5857,Illinois,4,3,Apartment,100.0,51,"Avondale, Chicago.",150
3,HY8797,California,2,1,Apartment,75.0,4,"SoMa, San Francisco.",125
4,VN7858,Massachusetts,2,1,House,88.0,23,"West Roxbury, Boston.",64
...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.0,60,"Venice, Los Angeles.",150
709,ZR5298,California,4,2,Apartment,93.0,3,"Mid-Wilshire, Los Angeles.",100
710,XZ5531,California,2,1,Bungalow,93.0,3,"Redondo Beach, Los Angeles.",100
711,EE8333,Illinois,2,1,House,80.0,15,"Lakeview, Chicago.",115
712,AA6024,Massachusetts,3,1,Apartment,96.0,61,"East Boston, Boston.",115

In [11]:
airbnb_df['state'].unique()

array(['Illinois', 'Massachusetts', 'California'], dtype=object)

In [12]:
# 02. 문자열 분리하기

In [13]:
airbnb_df['location'].str.split(',')

0               [Avondale,  Chicago.]
1               [South End,  Boston.]
2               [Avondale,  Chicago.]
3             [SoMa,  San Francisco.]
4            [West Roxbury,  Boston.]
                    ...
708           [Venice,  Los Angeles.]
709     [Mid-Wilshire,  Los Angeles.]
710    [Redondo Beach,  Los Angeles.]
711             [Lakeview,  Chicago.]
712           [East Boston,  Boston.]
Name: location, Length: 713, dtype: object

In [14]:
airbnb_df['location'].str.split(',').str[0]

0           Avondale
1          South End
2           Avondale
3               SoMa
4       West Roxbury
           ...
708           Venice
709     Mid-Wilshire
710    Redondo Beach
711         Lakeview
712      East Boston
Name: location, Length: 713, dtype: object

In [15]:
airbnb_df['neighborhood'] = airbnb_df['location'].str.split(',').str[0]

In [16]:
airbnb_df['location'].str.split(',').str[1]

0             Chicago.
1              Boston.
2             Chicago.
3       San Francisco.
4              Boston.
            ...
708       Los Angeles.
709       Los Angeles.
710       Los Angeles.
711           Chicago.
712            Boston.
Name: location, Length: 713, dtype: object

In [17]:
airbnb_df['city'] = airbnb_df['location'].str.split(',').str[1]

In [18]:
airbnb_df

,id,state,guests,beds,property_type,rating,n_reviews,location,price,neighborhood,city
0,BF1406,Illinois,2,1,Apartment,96.0,55,"Avondale, Chicago.",48,Avondale,Chicago.
1,DB7921,Massachusetts,4,1,Apartment,NaN,0,"South End, Boston.",115,South End,Boston.
2,OZ5857,Illinois,4,3,Apartment,100.0,51,"Avondale, Chicago.",150,Avondale,Chicago.
3,HY8797,California,2,1,Apartment,75.0,4,"SoMa, San Francisco.",125,SoMa,San Francisco.
4,VN7858,Massachusetts,2,1,House,88.0,23,"West Roxbury, Boston.",64,West Roxbury,Boston.
...,...,...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.0,60,"Venice, Los Angeles.",150,Venice,Los Angeles.
709,ZR5298,California,4,2,Apartment,93.0,3,"Mid-Wilshire, Los Angeles.",100,Mid-Wilshire,Los Angeles.
710,XZ5531,California,2,1,Bungalow,93.0,3,"Redondo Beach, Los Angeles.",100,Redondo Beach,Los Angeles.
711,EE8333,Illinois,2,1,House,80.0,15,"Lakeview, Chicago.",115,Lakeview,Chicago.
712,AA6024,Massachusetts,3,1,Apartment,96.0,61,"East Boston, Boston.",115,East Boston,Boston.

In [20]:
airbnb_df = airbnb_df.drop(columns='location')

In [21]:
airbnb_df

,id,state,guests,beds,property_type,rating,n_reviews,price,neighborhood,city
0,BF1406,Illinois,2,1,Apartment,96.0,55,48,Avondale,Chicago.
1,DB7921,Massachusetts,4,1,Apartment,NaN,0,115,South End,Boston.
2,OZ5857,Illinois,4,3,Apartment,100.0,51,150,Avondale,Chicago.
3,HY8797,California,2,1,Apartment,75.0,4,125,SoMa,San Francisco.
4,VN7858,Massachusetts,2,1,House,88.0,23,64,West Roxbury,Boston.
...,...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.0,60,150,Venice,Los Angeles.
709,ZR5298,California,4,2,Apartment,93.0,3,100,Mid-Wilshire,Los Angeles.
710,XZ5531,California,2,1,Bungalow,93.0,3,100,Redondo Beach,Los Angeles.
711,EE8333,Illinois,2,1,House,80.0,15,115,Lakeview,Chicago.
712,AA6024,Massachusetts,3,1,Apartment,96.0,61,115,East Boston,Boston.

In [22]:
# 03. 불필요한 문자 제거하기

In [24]:
airbnb_df['city'].unique() # 출력된 array를 살펴보면 도시명 앞의 공백과 뒤의 .을 확인할 수 있다

array([' Chicago.', ' Boston.', ' San Francisco.', ' Los Angeles.'],
      dtype=object)

In [25]:
airbnb_df['city'].str.strip()

0            Chicago.
1             Boston.
2            Chicago.
3      San Francisco.
4             Boston.
            ...
708      Los Angeles.
709      Los Angeles.
710      Los Angeles.
711          Chicago.
712           Boston.
Name: city, Length: 713, dtype: object

In [26]:
airbnb_df['city'] = airbnb_df['city'].str.strip()

In [27]:
airbnb_df['city'].str.replace('.', '', regex=False)

0            Chicago
1             Boston
2            Chicago
3      San Francisco
4             Boston
           ...
708      Los Angeles
709      Los Angeles
710      Los Angeles
711          Chicago
712           Boston
Name: city, Length: 713, dtype: object

In [29]:
airbnb_df['city'] = airbnb_df['city'].str.replace('.', '', regex=False)

In [30]:
airbnb_df

,id,state,guests,beds,property_type,rating,n_reviews,price,neighborhood,city
0,BF1406,Illinois,2,1,Apartment,96.0,55,48,Avondale,Chicago
1,DB7921,Massachusetts,4,1,Apartment,NaN,0,115,South End,Boston
2,OZ5857,Illinois,4,3,Apartment,100.0,51,150,Avondale,Chicago
3,HY8797,California,2,1,Apartment,75.0,4,125,SoMa,San Francisco
4,VN7858,Massachusetts,2,1,House,88.0,23,64,West Roxbury,Boston
...,...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.0,60,150,Venice,Los Angeles
709,ZR5298,California,4,2,Apartment,93.0,3,100,Mid-Wilshire,Los Angeles
710,XZ5531,California,2,1,Bungalow,93.0,3,100,Redondo Beach,Los Angeles
711,EE8333,Illinois,2,1,House,80.0,15,115,Lakeview,Chicago
712,AA6024,Massachusetts,3,1,Apartment,96.0,61,115,East Boston,Boston