In [2]:
import pandas as pd

patient_df = pd.read_csv('data/patient.csv')
patient_df

     age     sex  glucose  cholesterol  height  weight  hip  waist diabetes
0     50    Male      385          140    1.75    78.0   41     37        Y
1     37  Female       67          214    1.63    65.8   42     34        N
2     43  Female      100          160    1.63    63.5   40     37        N
3     32  Female       90          176    1.60   114.3   58     45        N
4     20    Male       71          164    1.83    65.8   36     29        N
..   ...     ...      ...          ...     ...     ...  ...    ...      ...
343   40    Male       87          218    1.85    90.7   41     38        N
344   66    Male      174          188    1.73    95.3   48     45        N
345   31  Female       69          183    1.68    86.2   47     41        N
346   44    Male       84          202    1.73    71.2   37     33        N
347   40  Female       85          169    1.65    81.6   44     40        N

[348 rows x 9 columns]

In [3]:
#01. 새로운 값 계산하기

In [4]:
patient_df['waist'] / patient_df['hip']

0      0.902439
1      0.809524
2      0.925000
3      0.775862
4      0.805556
         ...
343    0.926829
344    0.937500
345    0.872340
346    0.891892
347    0.909091
Length: 348, dtype: float64

In [5]:
round(patient_df['waist'] / patient_df['hip'], 2)

0      0.90
1      0.81
2      0.92
3      0.78
4      0.81
       ...
343    0.93
344    0.94
345    0.87
346    0.89
347    0.91
Length: 348, dtype: float64

In [6]:
patient_df['waist_hip_ratio'] = round(patient_df['waist'] / patient_df['hip'], 2)
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_ratio
0,50,Male,385,140,1.75,78.0,41,37,Y,0.90
1,37,Female,67,214,1.63,65.8,42,34,N,0.81
2,43,Female,100,160,1.63,63.5,40,37,N,0.92
3,32,Female,90,176,1.60,114.3,58,45,N,0.78
4,20,Male,71,164,1.83,65.8,36,29,N,0.81
...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.85,90.7,41,38,N,0.93
344,66,Male,174,188,1.73,95.3,48,45,N,0.94
345,31,Female,69,183,1.68,86.2,47,41,N,0.87
346,44,Male,84,202,1.73,71.2,37,33,N,0.89
347,40,Female,85,169,1.65,81.6,44,40,N,0.91

In [7]:
# Scaling - min max normalization

In [8]:
(patient_df['height'] - patient_df['height'].min()) / \
(patient_df['height'].max() - patient_df['height'].min())

0      0.704918
1      0.508197
2      0.508197
3      0.459016
4      0.836066
         ...
343    0.868852
344    0.672131
345    0.590164
346    0.672131
347    0.540984
Name: height, Length: 348, dtype: float64

In [9]:
patient_df['height'] = (patient_df['height'] - patient_df['height'].min()) / \
                       (patient_df['height'].max() - patient_df['height'].min())

In [10]:
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_ratio
0,50,Male,385,140,0.704918,78.0,41,37,Y,0.90
1,37,Female,67,214,0.508197,65.8,42,34,N,0.81
2,43,Female,100,160,0.508197,63.5,40,37,N,0.92
3,32,Female,90,176,0.459016,114.3,58,45,N,0.78
4,20,Male,71,164,0.836066,65.8,36,29,N,0.81
...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,0.868852,90.7,41,38,N,0.93
344,66,Male,174,188,0.672131,95.3,48,45,N,0.94
345,31,Female,69,183,0.590164,86.2,47,41,N,0.87
346,44,Male,84,202,0.672131,71.2,37,33,N,0.89
347,40,Female,85,169,0.540984,81.6,44,40,N,0.91

In [11]:
patient_df['height'].describe()

count    348.000000
mean       0.590588
std        0.163932
min        0.000000
25%        0.459016
50%        0.590164
75%        0.704918
max        1.000000
Name: height, dtype: float64

In [12]:
# Scaling - standardization

In [13]:
# Z-score

In [14]:
(patient_df['height'] - patient_df['height'].mean()) / patient_df['height'].std()

0      0.697426
1     -0.502595
2     -0.502595
3     -0.802600
4      1.497440
         ...
343    1.697444
344    0.497423
345   -0.002586
346    0.497423
347   -0.302592
Name: height, Length: 348, dtype: float64

In [15]:
patient_df['height'] = (patient_df['height'] - patient_df['height'].mean()) / \
                       patient_df['height'].std()

In [16]:
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_ratio
0,50,Male,385,140,0.697426,78.0,41,37,Y,0.90
1,37,Female,67,214,-0.502595,65.8,42,34,N,0.81
2,43,Female,100,160,-0.502595,63.5,40,37,N,0.92
3,32,Female,90,176,-0.802600,114.3,58,45,N,0.78
4,20,Male,71,164,1.497440,65.8,36,29,N,0.81
...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.697444,90.7,41,38,N,0.93
344,66,Male,174,188,0.497423,95.3,48,45,N,0.94
345,31,Female,69,183,-0.002586,86.2,47,41,N,0.87
346,44,Male,84,202,0.497423,71.2,37,33,N,0.89
347,40,Female,85,169,-0.302592,81.6,44,40,N,0.91

In [17]:
patient_df['height'].describe()

count    3.480000e+02
mean     2.501192e-16
std      1.000000e+00
min     -3.602650e+00
25%     -8.026005e-01
50%     -2.586253e-03
75%      6.974262e-01
max      2.497458e+00
Name: height, dtype: float64

In [18]:
# normalization   -> 데이터의 범위를 0과 1 사이 값으로 통일
# standardization -> 각 데이터가 평균에서 얼만큼 떨어져 있는지 비교

In [19]:
# data binning

In [20]:
patient_df['age'].describe()

count    348.000000
mean      43.505747
std       13.473101
min       20.000000
25%       33.000000
50%       42.000000
75%       55.000000
max       69.000000
Name: age, dtype: float64

In [21]:
pd.cut(patient_df['age'], bins=[20, 30, 40, 50, 60, 70])

0      (40.0, 50.0]
1      (30.0, 40.0]
2      (40.0, 50.0]
3      (30.0, 40.0]
4               NaN
           ...
343    (30.0, 40.0]
344    (60.0, 70.0]
345    (30.0, 40.0]
346    (40.0, 50.0]
347    (30.0, 40.0]
Name: age, Length: 348, dtype: category
Categories (5, interval[int64, right]): [(20, 30] < (30, 40] < (40, 50] < (50, 60] < (60, 70]]

In [22]:
patient_df['age_group'] = pd.cut(patient_df['age'], 
                                 bins=[20, 30, 40, 50, 60, 70])

In [23]:
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_ratio,age_group
0,50,Male,385,140,0.697426,78.0,41,37,Y,0.90,"(40.0, 50.0]"
1,37,Female,67,214,-0.502595,65.8,42,34,N,0.81,"(30.0, 40.0]"
2,43,Female,100,160,-0.502595,63.5,40,37,N,0.92,"(40.0, 50.0]"
3,32,Female,90,176,-0.802600,114.3,58,45,N,0.78,"(30.0, 40.0]"
4,20,Male,71,164,1.497440,65.8,36,29,N,0.81,NaN
...,...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.697444,90.7,41,38,N,0.93,"(30.0, 40.0]"
344,66,Male,174,188,0.497423,95.3,48,45,N,0.94,"(60.0, 70.0]"
345,31,Female,69,183,-0.002586,86.2,47,41,N,0.87,"(30.0, 40.0]"
346,44,Male,84,202,0.497423,71.2,37,33,N,0.89,"(40.0, 50.0]"
347,40,Female,85,169,-0.302592,81.6,44,40,N,0.91,"(30.0, 40.0]"

In [24]:
patient_df['age_group'] = pd.cut(patient_df['age'], 
                                 bins=[20, 30, 40, 50, 60, 70],
                                 right=False)

In [25]:
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_ratio,age_group
0,50,Male,385,140,0.697426,78.0,41,37,Y,0.90,"[50, 60)"
1,37,Female,67,214,-0.502595,65.8,42,34,N,0.81,"[30, 40)"
2,43,Female,100,160,-0.502595,63.5,40,37,N,0.92,"[40, 50)"
3,32,Female,90,176,-0.802600,114.3,58,45,N,0.78,"[30, 40)"
4,20,Male,71,164,1.497440,65.8,36,29,N,0.81,"[20, 30)"
...,...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.697444,90.7,41,38,N,0.93,"[40, 50)"
344,66,Male,174,188,0.497423,95.3,48,45,N,0.94,"[60, 70)"
345,31,Female,69,183,-0.002586,86.2,47,41,N,0.87,"[30, 40)"
346,44,Male,84,202,0.497423,71.2,37,33,N,0.89,"[40, 50)"
347,40,Female,85,169,-0.302592,81.6,44,40,N,0.91,"[40, 50)"

In [26]:
patient_df['age_group'] = pd.cut(patient_df['age'], 
                                 bins=[20, 30, 40, 50, 60, 70],
                                 right=False,
                                 labels=['20s', '30s', '40s', '50s', '60s'])

In [27]:
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_ratio,age_group
0,50,Male,385,140,0.697426,78.0,41,37,Y,0.90,50s
1,37,Female,67,214,-0.502595,65.8,42,34,N,0.81,30s
2,43,Female,100,160,-0.502595,63.5,40,37,N,0.92,40s
3,32,Female,90,176,-0.802600,114.3,58,45,N,0.78,30s
4,20,Male,71,164,1.497440,65.8,36,29,N,0.81,20s
...,...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.697444,90.7,41,38,N,0.93,40s
344,66,Male,174,188,0.497423,95.3,48,45,N,0.94,60s
345,31,Female,69,183,-0.002586,86.2,47,41,N,0.87,30s
346,44,Male,84,202,0.497423,71.2,37,33,N,0.89,40s
347,40,Female,85,169,-0.302592,81.6,44,40,N,0.91,40s

In [48]:
# apply() - dataframe이나 series에 있는 값 하나하나에 함수를 적용시킴.

In [29]:
df = pd.DataFrame([[1, 9], [4, 16]], columns = ['column1', 'column2'])
df

   column1  column2
0        1        9
1        4       16

In [30]:
import numpy as np

In [31]:
np.sqrt(9)

np.float64(3.0)

In [32]:
df['column2'].apply(np.sqrt)

0    3.0
1    4.0
Name: column2, dtype: float64

In [33]:
patient_df.head()

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_ratio,age_group
0,50,Male,385,140,0.697426,78.0,41,37,Y,0.90,50s
1,37,Female,67,214,-0.502595,65.8,42,34,N,0.81,30s
2,43,Female,100,160,-0.502595,63.5,40,37,N,0.92,40s
3,32,Female,90,176,-0.802600,114.3,58,45,N,0.78,30s
4,20,Male,71,164,1.497440,65.8,36,29,N,0.81,20s

In [34]:
def group_age(x):
    if x>= 10 and x < 20:
        return '10s'
    elif x >=20 and x < 30:
        return '20s'
    elif x >= 30 and x < 40:
        return '30s'
    elif x >= 40 and x < 50:
        return '40s'
    elif x >= 50 and x < 60:
        return '50s'
    else:
        return '60s'

In [36]:
patient_df['age_group'] = patient_df['age'].apply(group_age)

In [37]:
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_ratio,age_group
0,50,Male,385,140,0.697426,78.0,41,37,Y,0.90,50s
1,37,Female,67,214,-0.502595,65.8,42,34,N,0.81,30s
2,43,Female,100,160,-0.502595,63.5,40,37,N,0.92,40s
3,32,Female,90,176,-0.802600,114.3,58,45,N,0.78,30s
4,20,Male,71,164,1.497440,65.8,36,29,N,0.81,20s
...,...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.697444,90.7,41,38,N,0.93,40s
344,66,Male,174,188,0.497423,95.3,48,45,N,0.94,60s
345,31,Female,69,183,-0.002586,86.2,47,41,N,0.87,30s
346,44,Male,84,202,0.497423,71.2,37,33,N,0.89,40s
347,40,Female,85,169,-0.302592,81.6,44,40,N,0.91,40s

In [49]:
# lambda function - 함수의 정의 없이 다른 함수 안에서 바로 사용 가능.

In [39]:
lambda x: 2*x

In [40]:
patient_df['height'].apply(lambda x : 39.370069*x)

0      27.457717
1     -19.787205
2     -19.787205
3     -31.598436
4      58.954332
         ...
343    66.828485
344    19.583563
345    -0.101821
346    19.583563
347   -11.913051
Name: height, Length: 348, dtype: float64

In [45]:
patient_df['bmi'] = round(patient_df['weight'] / patient_df['height']**2, 1)
patient_df['bmi'].apply(lambda x: 'Y' if x > 30 else 'N')

0      Y
1      Y
2      Y
3      Y
4      N
      ..
343    Y
344    Y
345    Y
346    Y
347    Y
Name: bmi, Length: 348, dtype: object

In [46]:
def isin_interval(x, n_lower, n_upper):
    if n_lower <= x < n_upper:
        return 'Y'
    else:
        return 'N'

In [47]:
patient_df['bmi'].apply(lambda x: isin_interval(x, 18.5, 25))

0      N
1      N
2      N
3      N
4      N
      ..
343    N
344    N
345    N
346    N
347    N
Name: bmi, Length: 348, dtype: object