In [1]:
import pandas as pd

In [2]:
burger_df = pd.read_csv('data/burger.csv', index_col=0)
burger_df

                       calories  carb  protein  fat  sodium category
product_name
Whopper                     660    49       28   40     1.0  Burgers
Cheese Whopper              740    50       32   46     1.3  Burgers
Double Whopper              900    49       48   58     1.0  Burgers
Double Cheese Whopper       980    50       52   64     1.4  Burgers
Whopper Junior              310    27       13   18     0.4  Burgers
Bacon King                 1150    49       61   79     2.2  Burgers
Single Stacker King         700    48       35   42     1.4  Burgers
Double Stacker King        1050    49       61   68     NaN  Burgers
Hamburger                   240    26       13   10     0.4  Burgers
Cheeseburger                280    27       15   13     0.6  Burgers
Double Hamburger            350    26       21   18     0.4  Burgers
Double Cheeseburger         390    27       23   21     0.6  Burgers
Crispy Chicken              670    54       23   41     1.1  Chicken
Chicken Nuggets             170    11        8   11     0.3  Chicken
Spicy Chicken Nuggets       210    11        8   15     0.6  Chicken

In [4]:
burger_df['calories']

product_name
Whopper                   660
Cheese Whopper            740
Double Whopper            900
Double Cheese Whopper     980
Whopper Junior            310
Bacon King               1150
Single Stacker King       700
Double Stacker King      1050
Hamburger                 240
Cheeseburger              280
Double Hamburger          350
Double Cheeseburger       390
Crispy Chicken            670
Chicken Nuggets           170
Spicy Chicken Nuggets     210
Name: calories, dtype: int64

In [5]:
burger_df['calories'] < 500

product_name
Whopper                  False
Cheese Whopper           False
Double Whopper           False
Double Cheese Whopper    False
Whopper Junior            True
Bacon King               False
Single Stacker King      False
Double Stacker King      False
Hamburger                 True
Cheeseburger              True
Double Hamburger          True
Double Cheeseburger       True
Crispy Chicken           False
Chicken Nuggets           True
Spicy Chicken Nuggets     True
Name: calories, dtype: bool

In [6]:
type(burger_df['calories'] < 500)

pandas.core.series.Series

In [8]:
burger_df.loc[burger_df['calories'] < 500]

                       calories  carb  protein  fat  sodium category
product_name
Whopper Junior              310    27       13   18     0.4  Burgers
Hamburger                   240    26       13   10     0.4  Burgers
Cheeseburger                280    27       15   13     0.6  Burgers
Double Hamburger            350    26       21   18     0.4  Burgers
Double Cheeseburger         390    27       23   21     0.6  Burgers
Chicken Nuggets             170    11        8   11     0.3  Chicken
Spicy Chicken Nuggets       210    11        8   15     0.6  Chicken

In [9]:
burger_df.loc[burger_df['calories'] < 500, 'protein']

product_name
Whopper Junior           13
Hamburger                13
Cheeseburger             15
Double Hamburger         21
Double Cheeseburger      23
Chicken Nuggets           8
Spicy Chicken Nuggets     8
Name: protein, dtype: int64

In [11]:
burger_df.loc[burger_df['calories'] < 500, ['carb', 'protein']]

                       carb  protein
product_name
Whopper Junior           27       13
Hamburger                26       13
Cheeseburger             27       15
Double Hamburger         26       21
Double Cheeseburger      27       23
Chicken Nuggets          11        8
Spicy Chicken Nuggets    11        8

In [12]:
burger_df.loc[burger_df['calories'] < 500, 'calories':'fat']

                       calories  carb  protein  fat
product_name
Whopper Junior              310    27       13   18
Hamburger                   240    26       13   10
Cheeseburger                280    27       15   13
Double Hamburger            350    26       21   18
Double Cheeseburger         390    27       23   21
Chicken Nuggets             170    11        8   11
Spicy Chicken Nuggets       210    11        8   15

In [13]:
burger_df[burger_df['calories'] < 500]

                       calories  carb  protein  fat  sodium category
product_name
Whopper Junior              310    27       13   18     0.4  Burgers
Hamburger                   240    26       13   10     0.4  Burgers
Cheeseburger                280    27       15   13     0.6  Burgers
Double Hamburger            350    26       21   18     0.4  Burgers
Double Cheeseburger         390    27       23   21     0.6  Burgers
Chicken Nuggets             170    11        8   11     0.3  Chicken
Spicy Chicken Nuggets       210    11        8   15     0.6  Chicken

In [14]:
mask = burger_df['calories'] < 500
burger_df[mask]

                       calories  carb  protein  fat  sodium category
product_name
Whopper Junior              310    27       13   18     0.4  Burgers
Hamburger                   240    26       13   10     0.4  Burgers
Cheeseburger                280    27       15   13     0.6  Burgers
Double Hamburger            350    26       21   18     0.4  Burgers
Double Cheeseburger         390    27       23   21     0.6  Burgers
Chicken Nuggets             170    11        8   11     0.3  Chicken
Spicy Chicken Nuggets       210    11        8   15     0.6  Chicken

In [15]:
burger_df.loc[mask, 'calories':'fat']

                       calories  carb  protein  fat
product_name
Whopper Junior              310    27       13   18
Hamburger                   240    26       13   10
Cheeseburger                280    27       15   13
Double Hamburger            350    26       21   18
Double Cheeseburger         390    27       23   21
Chicken Nuggets             170    11        8   11
Spicy Chicken Nuggets       210    11        8   15