In [1]:
import pandas as pd

In [3]:
burger_df = pd.read_csv('data/burger.csv', index_col=0)
burger_df

                       calories  carb  protein  fat  sodium category
product_name
Whopper                     660    49       28   40     1.0  Burgers
Cheese Whopper              740    50       32   46     1.3  Burgers
Double Whopper              900    49       48   58     1.0  Burgers
Double Cheese Whopper       980    50       52   64     1.4  Burgers
Whopper Junior              310    27       13   18     0.4  Burgers
Bacon King                 1150    49       61   79     2.2  Burgers
Single Stacker King         700    48       35   42     1.4  Burgers
Double Stacker King        1050    49       61   68     NaN  Burgers
Hamburger                   240    26       13   10     0.4  Burgers
Cheeseburger                280    27       15   13     0.6  Burgers
Double Hamburger            350    26       21   18     0.4  Burgers
Double Cheeseburger         390    27       23   21     0.6  Burgers
Crispy Chicken              670    54       23   41     1.1  Chicken
Chicken Nuggets             170    11        8   11     0.3  Chicken
Spicy Chicken Nuggets       210    11        8   15     0.6  Chicken

In [4]:
burger_df.loc['Double Stacker King', 'sodium']

nan

In [5]:
burger_df.loc['Double Stacker King', 'sodium'] = 1.9
burger_df

                       calories  carb  protein  fat  sodium category
product_name
Whopper                     660    49       28   40     1.0  Burgers
Cheese Whopper              740    50       32   46     1.3  Burgers
Double Whopper              900    49       48   58     1.0  Burgers
Double Cheese Whopper       980    50       52   64     1.4  Burgers
Whopper Junior              310    27       13   18     0.4  Burgers
Bacon King                 1150    49       61   79     2.2  Burgers
Single Stacker King         700    48       35   42     1.4  Burgers
Double Stacker King        1050    49       61   68     1.9  Burgers
Hamburger                   240    26       13   10     0.4  Burgers
Cheeseburger                280    27       15   13     0.6  Burgers
Double Hamburger            350    26       21   18     0.4  Burgers
Double Cheeseburger         390    27       23   21     0.6  Burgers
Crispy Chicken              670    54       23   41     1.1  Chicken
Chicken Nuggets             170    11        8   11     0.3  Chicken
Spicy Chicken Nuggets       210    11        8   15     0.6  Chicken

In [6]:
burger_df.loc['Cheeseburger']

calories        280
carb             27
protein          15
fat              13
sodium          0.6
category    Burgers
Name: Cheeseburger, dtype: object

In [7]:
burger_df.loc['Cheeseburger'] = [360, 24, 18, 21, 0.7, 'Burgers']

In [8]:
burger_df

                       calories  carb  protein  fat  sodium category
product_name
Whopper                     660    49       28   40     1.0  Burgers
Cheese Whopper              740    50       32   46     1.3  Burgers
Double Whopper              900    49       48   58     1.0  Burgers
Double Cheese Whopper       980    50       52   64     1.4  Burgers
Whopper Junior              310    27       13   18     0.4  Burgers
Bacon King                 1150    49       61   79     2.2  Burgers
Single Stacker King         700    48       35   42     1.4  Burgers
Double Stacker King        1050    49       61   68     1.9  Burgers
Hamburger                   240    26       13   10     0.4  Burgers
Cheeseburger                360    24       18   21     0.7  Burgers
Double Hamburger            350    26       21   18     0.4  Burgers
Double Cheeseburger         390    27       23   21     0.6  Burgers
Crispy Chicken              670    54       23   41     1.1  Chicken
Chicken Nuggets             170    11        8   11     0.3  Chicken
Spicy Chicken Nuggets       210    11        8   15     0.6  Chicken

In [9]:
burger_df['sodium']

product_name
Whopper                  1.0
Cheese Whopper           1.3
Double Whopper           1.0
Double Cheese Whopper    1.4
Whopper Junior           0.4
Bacon King               2.2
Single Stacker King      1.4
Double Stacker King      1.9
Hamburger                0.4
Cheeseburger             0.7
Double Hamburger         0.4
Double Cheeseburger      0.6
Crispy Chicken           1.1
Chicken Nuggets          0.3
Spicy Chicken Nuggets    0.6
Name: sodium, dtype: float64

In [10]:
burger_df['sodium'] = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [11]:
burger_df

                       calories  carb  protein  fat  sodium category
product_name
Whopper                     660    49       28   40       1  Burgers
Cheese Whopper              740    50       32   46       1  Burgers
Double Whopper              900    49       48   58       1  Burgers
Double Cheese Whopper       980    50       52   64       1  Burgers
Whopper Junior              310    27       13   18       1  Burgers
Bacon King                 1150    49       61   79       1  Burgers
Single Stacker King         700    48       35   42       1  Burgers
Double Stacker King        1050    49       61   68       1  Burgers
Hamburger                   240    26       13   10       1  Burgers
Cheeseburger                360    24       18   21       1  Burgers
Double Hamburger            350    26       21   18       1  Burgers
Double Cheeseburger         390    27       23   21       1  Burgers
Crispy Chicken              670    54       23   41       1  Chicken
Chicken Nuggets             170    11        8   11       1  Chicken
Spicy Chicken Nuggets       210    11        8   15       1  Chicken

In [12]:
burger_df['sodium'] = 1.2
burger_df

                       calories  carb  protein  fat  sodium category
product_name
Whopper                     660    49       28   40     1.2  Burgers
Cheese Whopper              740    50       32   46     1.2  Burgers
Double Whopper              900    49       48   58     1.2  Burgers
Double Cheese Whopper       980    50       52   64     1.2  Burgers
Whopper Junior              310    27       13   18     1.2  Burgers
Bacon King                 1150    49       61   79     1.2  Burgers
Single Stacker King         700    48       35   42     1.2  Burgers
Double Stacker King        1050    49       61   68     1.2  Burgers
Hamburger                   240    26       13   10     1.2  Burgers
Cheeseburger                360    24       18   21     1.2  Burgers
Double Hamburger            350    26       21   18     1.2  Burgers
Double Cheeseburger         390    27       23   21     1.2  Burgers
Crispy Chicken              670    54       23   41     1.2  Chicken
Chicken Nuggets             170    11        8   11     1.2  Chicken
Spicy Chicken Nuggets       210    11        8   15     1.2  Chicken

In [13]:
burger_df.loc['Tripple Whopper'] = [1130, 49, 67, 75, 1.1, 'Burger']

In [14]:
burger_df

                       calories  carb  protein  fat  sodium category
product_name
Whopper                     660    49       28   40     1.2  Burgers
Cheese Whopper              740    50       32   46     1.2  Burgers
Double Whopper              900    49       48   58     1.2  Burgers
Double Cheese Whopper       980    50       52   64     1.2  Burgers
Whopper Junior              310    27       13   18     1.2  Burgers
Bacon King                 1150    49       61   79     1.2  Burgers
Single Stacker King         700    48       35   42     1.2  Burgers
Double Stacker King        1050    49       61   68     1.2  Burgers
Hamburger                   240    26       13   10     1.2  Burgers
Cheeseburger                360    24       18   21     1.2  Burgers
Double Hamburger            350    26       21   18     1.2  Burgers
Double Cheeseburger         390    27       23   21     1.2  Burgers
Crispy Chicken              670    54       23   41     1.2  Chicken
Chicken Nuggets             170    11        8   11     1.2  Chicken
Spicy Chicken Nuggets       210    11        8   15     1.2  Chicken
Tripple Whopper            1130    49       67   75     1.1   Burger

In [15]:
burger_df.loc[burger_df['calories'] >= 500]

                       calories  carb  protein  fat  sodium category
product_name
Whopper                     660    49       28   40     1.2  Burgers
Cheese Whopper              740    50       32   46     1.2  Burgers
Double Whopper              900    49       48   58     1.2  Burgers
Double Cheese Whopper       980    50       52   64     1.2  Burgers
Bacon King                 1150    49       61   79     1.2  Burgers
Single Stacker King         700    48       35   42     1.2  Burgers
Double Stacker King        1050    49       61   68     1.2  Burgers
Crispy Chicken              670    54       23   41     1.2  Chicken
Tripple Whopper            1130    49       67   75     1.1   Burger

In [17]:
burger_df.loc[burger_df['calories'] >= 500, 'high calorie'] = True
burger_df.loc[burger_df['calories'] < 500, 'high calorie'] = False
burger_df

,calories,carb,protein,fat,sodium,category,high calorie
product_name,,,,,,,
Whopper,660,49,28,40,1.2,Burgers,True
Cheese Whopper,740,50,32,46,1.2,Burgers,True
Double Whopper,900,49,48,58,1.2,Burgers,True
Double Cheese Whopper,980,50,52,64,1.2,Burgers,True
Whopper Junior,310,27,13,18,1.2,Burgers,False
Bacon King,1150,49,61,79,1.2,Burgers,True
Single Stacker King,700,48,35,42,1.2,Burgers,True
Double Stacker King,1050,49,61,68,1.2,Burgers,True
Hamburger,240,26,13,10,1.2,Burgers,False
Cheeseburger,360,24,18,21,1.2,Burgers,False
Double Hamburger,350,26,21,18,1.2,Burgers,False
Double Cheeseburger,390,27,23,21,1.2,Burgers,False
Crispy Chicken,670,54,23,41,1.2,Chicken,True
Chicken Nuggets,170,11,8,11,1.2,Chicken,False
Spicy Chicken Nuggets,210,11,8,15,1.2,Chicken,False
Tripple Whopper,1130,49,67,75,1.1,Burger,True