In [ ]:
# 날짜와 시간을 위한 데이터 타입 설정하기

In [1]:
import pandas as pd

order_df = pd.read_csv('data/order.csv')
order_df

,order_time,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time
0,2015-01-01 04:54:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,3,179.97,6,2015-01-07 19:07:00
1,NaN,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,129.99,6,2015-01-04 09:47:00
2,2015-01-01 02:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,4,199.92,6,2015-01-05 13:15:00
3,2015-01-01 19:58:00,Golf Gloves,Clicgear 8.0 Shoe Brush,9.99,2,19.98,6,2015-01-05 12:08:00
4,2015-01-01 03:51:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2015-01-04 20:06:00
...,...,...,...,...,...,...,...,...
18045,2018-01-31 10:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,4,2018-02-02 13:53:00
18046,2018-01-31 21:53:00,Women's Clothing,Summer dresses,215.82,1,215.82,3,2018-02-02 18:50:00
18047,2018-01-31 17:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-02 10:16:00
18048,2018-01-31 12:26:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-03 18:58:00
18049,2018-01-31 16:59:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-06 20:32:00

In [2]:
order_df.dtypes

order_time                      object
category                        object
product_name                    object
price                          float64
quantity                         int64
sales                          float64
days_for_shipping(expected)      int64
shipping_time                   object
dtype: object

In [3]:
pd.to_datetime(order_df['order_time'])

0       2015-01-01 04:54:00
1                       NaT
2       2015-01-01 02:27:00
3       2015-01-01 19:58:00
4       2015-01-01 03:51:00
                ...
18045   2018-01-31 10:20:00
18046   2018-01-31 21:53:00
18047   2018-01-31 17:20:00
18048   2018-01-31 12:26:00
18049   2018-01-31 16:59:00
Name: order_time, Length: 18050, dtype: datetime64[ns]

In [4]:
pd.to_datetime(order_df['order_time'])[0]

Timestamp('2015-01-01 04:54:00')

In [5]:
order_df['order_time'] = pd.to_datetime(order_df['order_time'])

In [6]:
order_df['shipping_time'] = pd.to_datetime(order_df['shipping_time'])

In [8]:
order_df.dtypes

order_time                     datetime64[ns]
category                               object
product_name                           object
price                                 float64
quantity                                int64
sales                                 float64
days_for_shipping(expected)             int64
shipping_time                  datetime64[ns]
dtype: object

In [9]:
order_df = pd.read_csv('data/order.csv', parse_dates=['order_time', 'shipping_time'])

In [10]:
order_df.dtypes

order_time                     datetime64[ns]
category                               object
product_name                           object
price                                 float64
quantity                                int64
sales                                 float64
days_for_shipping(expected)             int64
shipping_time                  datetime64[ns]
dtype: object

In [11]:
order_df

,order_time,category,product_name,price,quantity,sales,days_for_shipping(expected),shipping_time
0,2015-01-01 04:54:00,Cleats,Perfect Fitness Perfect Rip Deck,59.99,3,179.97,6,2015-01-07 19:07:00
1,NaT,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,129.99,6,2015-01-04 09:47:00
2,2015-01-01 02:27:00,Indoor/Outdoor Games,O'Brien Men's Neoprene Life Vest,49.98,4,199.92,6,2015-01-05 13:15:00
3,2015-01-01 19:58:00,Golf Gloves,Clicgear 8.0 Shoe Brush,9.99,2,19.98,6,2015-01-05 12:08:00
4,2015-01-01 03:51:00,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,299.98,1,299.98,6,2015-01-04 20:06:00
...,...,...,...,...,...,...,...,...
18045,2018-01-31 10:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,4,2018-02-02 13:53:00
18046,2018-01-31 21:53:00,Women's Clothing,Summer dresses,215.82,1,215.82,3,2018-02-02 18:50:00
18047,2018-01-31 17:20:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-02 10:16:00
18048,2018-01-31 12:26:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-03 18:58:00
18049,2018-01-31 16:59:00,Women's Clothing,Summer dresses,215.82,1,215.82,6,2018-02-06 20:32:00

In [12]:
order_df.isna().sum()

order_time                     1
category                       0
product_name                   0
price                          0
quantity                       0
sales                          0
days_for_shipping(expected)    0
shipping_time                  0
dtype: int64

In [14]:
order_df = order_df.dropna()

In [15]:
order_df['order_time'].dt.date

0        2015-01-01
2        2015-01-01
3        2015-01-01
4        2015-01-01
5        2015-01-01
            ...
18045    2018-01-31
18046    2018-01-31
18047    2018-01-31
18048    2018-01-31
18049    2018-01-31
Name: order_time, Length: 18049, dtype: object

In [18]:
order_df['order_time'].dt.dayofweek

0        3
2        3
3        3
4        3
5        3
        ..
18045    2
18046    2
18047    2
18048    2
18049    2
Name: order_time, Length: 18049, dtype: int32